body {
    background-color: #1a1a1a;
    color: white;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}


.slider-container
{
    width: 604px;
    height: 453px;
    background-color: #303030;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    
    text-align: center;
    overflow: hidden;
}

.image-container
{
    width: 1812px;
    background-color: #1a1a1a;
    height: 453px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

#slider-image-1:target ~ .image-container
{
   left: 0px;
}
#slider-image-2:target ~ .image-container
{
   left: -604px;
}
#slider-image-3:target ~ .image-container
{
   left: -1208px;
}

.button-container
{
	position: relative;
	top: -20px;
}
.slider-change
{
	display: inline-block;
	height: 10px;
	width: 10px;
	border-radius: 5px;
	background-color: #505050;
}

.container{
    max-width: 960px;
    background-color: #1a1a1a;
    margin: 0px auto;
    text-align: center;
    height: 100%;
}
#intestazionelavoro{
    text-align: center;
    clear: both;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.bodypagine{
    background-color: #303030;
}
 /* PAGINA LAVORO */



.immaginetestata{
    width: 95%;
}

.immagineverticale{
    height: 900px;
    margin-bottom: 15px;
}
.immagineorizzontale{
    width: 95%;
    margin-bottom: 15px;
}
.miniatura{
    width: 280px;
    margin: 20px;
    float: left;
}





/*
.footer{
    background-color:#1a1a1a; 
    height: 200px; 
    width: 100%; 
    margin-top: 20px;
    padding: 2%;
    position: relative;
}*/
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
    text-decoration: none;
}
a:hover {
    color: rgb(219, 219, 219);
    text-decoration: none;
}
a:active {
    color: rgb(168, 168, 168);
    text-decoration: none;
}
#menu ul{
    list-style-type: none;
    padding: 0px;
    
}
#menu li{
    display: inline-block;
    padding: 0px 20px 0px 20px;
    margin: 0px 0px 0px 0px;
    border-left: 1px solid white;
}
#menu li:last-child{
    border-right: 1px solid white;
}
#menulavori ul{
    list-style-type: none;
    padding: 0px;
    
}
#menulavori li{
    display: inline-block;
    padding: 0px 20px 0px 20px;
    margin: 0px 0px 0px 0px;
    border-left: 1px solid white;
}
#menulavori li:last-child{
    border-right: 1px solid white;
}

/* VERSIONE SMARTPHONE */

@media screen and (max-width: 763px){
    #homepage {
        width: 100%;
        float: left;
        position: absolute;
        height: 100%;
        top: 210px;
        left: 0px;
        padding: 0px;
        margin: 0px;
        background-image: url('../img/bg-home-small.jpg');
        background-repeat:no-repeat;
        background-size: 100%;
    }
    #titolo {
        width: calc(100vw - 24px);
        height: calc(150px - 12px);
        border: 1px solid white;
        position: absolute;
        margin: 6px 12px 6px 12px;
        text-align: center;
    }
    #nometitolo {
        font-size: 35px;
        margin-top: calc(123px / 2 - 30px);
        letter-spacing: 4px;
        margin-bottom: 0px;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
    }
    #ruolotitolo {
        font-size: 20px;
        margin-top: 2px;
        letter-spacing: 2px;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
    }#menu{
        height: 60px;
        width: calc(100vw - 24px);
        position: absolute;
        top: 150px;
        left: 12px;
        vertical-align: middle;
        font-family: 'Open Sans', sans-serif;
        margin: 0px;
        text-align: center;
    }
    #menu li{
        
        padding: 5px;
        margin: auto;
        width: 20%;
        }
        #menulavori{
            height: 60px;
            width: calc(100vw - 24px);
            left: 12px;
            vertical-align: middle;
            font-family: 'Open Sans', sans-serif;
            margin: 0px;
            text-align: center;
        }
        #menulavori li{
            
            padding: 5px;
            margin: auto;
            width: 20%;
            }
        #portfoliolavori{
            clear: both;
            width: 320px;
            margin-right: auto;
            margin-left: auto;
        }
        #testolavoro{
            max-width: 90%;
            font-size: 25px;
            margin: 0px auto;
            padding: 30px 0px;
            text-align: justify;
        }
        #nomelavoro{
            font-size: 60px;
            text-align: center;
            margin-block-start: 0px;
            margin-block-end: 0px;
            font-weight: lighter;
            text-transform: uppercase;
        }
        #dettaglilavoro{
            font-size: 40px;
            line-height: 45px;
            text-align: center;
            margin-block-start: 0px;
            margin-block-end: 0px;
            font-weight: lighter;
        
        }
}


/* VERSIONE DESKTOP */

@media screen and (min-width: 1080px){
    #homepage {
        width: 100%;
        float: left;
        position: absolute;
        height: 100%;
        top: 60px;
        left: 0px;
        padding: 0px;
        margin: 0px;
        background-image: url('../img/bg-home.png');
        background-repeat:no-repeat;
        background-size: 100%;
    }
    #titolo {
        width: calc(100vw / 2 - 100vw /12);
        height: calc(100vw * 0.176 - 100vw /24);
        border: 1px solid white;
        float: left;
        margin-left: calc(100vw / 24);
        margin-right: calc(100vw / 24);
        margin-top: calc(100vw / 48);
        margin-bottom: calc(100vw / 48);
        text-align: center;
    }
    #nometitolo {
        font-size: calc(100vw / 30);
        margin-top: calc((100vw * 0.176 - 100vw /24)/2 - (100vw / 30));
        letter-spacing: 4px;
        margin-bottom: 0px;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
    }
    #ruolotitolo {
        font-size: calc(100vw / 55);
        margin-top: 2px;
        letter-spacing: 2px;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
    }
    #menu{
        height: 60px;
        width: calc(100vw /2);
        float: right;
        letter-spacing: 4px;
        vertical-align: middle;
        font-family: 'Open Sans', sans-serif;
        margin: 0px;
        text-align: center;
    }    
    #menulavori{
        height: 60px;
        width: calc(100vw /2);
        float: right;
        letter-spacing: 4px;
        vertical-align: middle;
        font-family: 'Open Sans', sans-serif;
        margin: 0px;
        text-align: center;
    }   
    #portfoliolavori{
        clear: both;
        width: 960px;
        margin-right: auto;
        margin-left: auto;
    }
    #nomelavoro{
        font-size: 45px;
        text-align: center;
        margin-block-start: 0px;
        margin-block-end: 0px;
        font-weight: lighter;
        text-transform: uppercase;
    }
    #dettaglilavoro{
        font-size: 25px;
        line-height: 35px;
        text-align: center;
        margin-block-start: 0px;
        margin-block-end: 0px;
        font-weight: lighter;
    
    }
    #testolavoro{
        max-width: 90%;
        font-size: 15px;
        margin: 0px auto;
        padding: 30px 0px;
        text-align: justify;
    }
}

/* VERSIONE TABLET */

@media screen and (min-width: 764px) and (max-width: 1079px){
    #homepage {
        width: 100%;
        float: left;
        position: absolute;
        height:  200%;
        top: 230px;
        left: 0px;
        padding: 0px;
        margin: 0px;
        background-image: url('../img/bg-home-small.jpg');
        background-repeat:no-repeat;
        background-size: 100%;
    }
    #titolo {
        width: 460px;
        height: calc(700px * 0.176);
        border: 1px solid white;
        position: absolute;
        left: calc((100vw / 2) - 230px);
        margin-top: 25px;
        margin-bottom: 25px;
        text-align: center;
    }
    #nometitolo {
        font-size: 45px;
        margin-top: calc(123px / 2 - 40px);
        letter-spacing: 4px;
        margin-bottom: 0px;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
    }
    #ruolotitolo {
        font-size: 30px;
        margin-top: 2px;
        letter-spacing: 2px;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
    }
    #menu{
        height: 60px;
        width: 100%;
        position: absolute;
        top: 150px;
        letter-spacing: 4px;
        font-size: 30px;
        vertical-align: middle;
        font-family: 'Open Sans', sans-serif;
        margin: 0px;
        text-align: center;
    }
    #menulavori{
        height: 60px;
        width: 100%;
        letter-spacing: 4px;
        font-size: 30px;
        vertical-align: middle;
        font-family: 'Open Sans', sans-serif;
        margin: 0px;
        text-align: center;
    }
    #portfoliolavori{
        clear: both;
        width: 640px;
        margin-right: auto;
        margin-left: auto;
    }
    .miniatura{
        width: 600px;
        margin: 20px;
        float: left;
    }
    #testolavoro{
        max-width: 90%;
        font-size: 25px;
        margin: 0px auto;
        padding: 30px 0px;
        text-align: justify;
    }#nomelavoro{
        font-size: 60px;
        text-align: center;
        margin-block-start: 0px;
        margin-block-end: 0px;
        font-weight: lighter;
        text-transform: uppercase;
    }
    #dettaglilavoro{
        font-size: 40px;
        line-height: 45px;
        text-align: center;
        margin-block-start: 0px;
        margin-block-end: 0px;
        font-weight: lighter;
    
    }
    
}